{% extends 'base.html.twig' %}


	{% block title %}FACTURE
	{% endblock %}

	{% block body %}
		<div class="container">
			<nav class="navbar d-flex justify-content-between">
				<img src="" alt="LOGO" class="bg-success">
				<div class="bg-success">
					<p class="text-center">tel:0101010101</p>
					<p>De Lundi à Vendredi de 9 h à 18h</p>
				</div>
			</nav>
			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">PRESENTATION</th>
						<th scope="col">PROFESSIONNELS</th>
						<th scope="col">PARTICULIERS</th>
						<th scope="col">BLOG</th>
						<th scope="col">PARTENAIRE</th>
					</tr>
				</thead>
			</table>
			<main class="d-flex justify-content-between">
				<aside class="bg-success">
					<h3>Menu</h3>
					<a>Gerer mes factures</a>
				</aside>
				<div>
					<h3>Liste des factures</h3>
					<button class="btn btn-outline-dark mt-2">Créer une nouvelle facture</button>
					<table class="table table-success table-striped table-hover table-bordered mt-4 text-center">
						<thead>
							<tr>
								<th scope="col">Numéro de facture</th>
								<th scope="col">Désignation</th>
								<th scope="col">Prix HT</th>
								<th scope="col">TVA</th>
								<th scope="col">Prix TTC</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for facture in factures %}
								<tr class="table-primary">
									<th scope="row">{{ facture.id}}</th>
									<td>{{ facture.designation}}</td>
									<td>{{ facture.prixHt }}</td>
									<td>20%</td>
									<td>{{ facture.prixTtc }}</td>

									{# <td><a href="{{ path('facture.edit', { id: facture.id} ) }}" class="btn btn-info btn-sm">Modifier</a></td>
																																																																																							<td><a href="{{ path('facture.delete', { id: facture.id} ) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?')" class="btn btn-danger btn-sm">SUPPRIMER</a></td> #}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<section class="flex-column">
					<div class="bg-success">
						<h3>Nous Contacter</h3>
						<p>0101010101</p>
						<p>{{ app.user.email }}</p>
					</div>
				</section>
			</main>

		</div>
	{% endblock %}
