{% extends 'base.html.twig' %}


	{% block title %}FACTURE
	{% endblock %}

	{% block body %}
		<div class="container-xl">
			<nav class="navbar d-flex justify-content-between">
				<img src="" alt="LOGO" class="bg-success">
				<div class="bg-success">
					<p class="text-center">tel:{{ "0101010101"|replace({'0101010101': "XXXXXXXXXX"}) }}</p>
					<p>De Lundi à Vendredi de 9 h à 18h</p>
				</div>
			</nav>
			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">PRESENTATION</th>
						<th scope="col">PROFESSIONNELS</th>
						<th scope="col">PARTICULIERS</th>
						<th scope="col">BLOG</th>
						<th scope="col">PARTENAIRE</th>
					</tr>
				</thead>
			</table>
			<main class="d-flex justify-content-between">
				<aside class="bg-success col-3 text-center">
					<h3>Menu</h3>
					<a>Gerer mes factures</a>
				</aside>
				<div class="col-6 text-center">
					<h3>Liste des factures</h3>
					<a href="{{ path('facture.new') }}" class="btn btn-outline-dark mt-2">Créer une nouvelle facture</a>
					<table class="table table-success table-striped table-hover table-bordered mt-4 text-center">
						<thead>
							<tr>
								<th>Num
								</th>
								<th>Désignation</th>
								<th>Prix HT</th>
								<th>TVA</th>
								<th>Prix TTC</th>
								<th colspan="2">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for facture in factures %}
								<tr class="table-primary">
									<th scope="row">{{ facture.id}}</th>
									<td>{{ facture.designation}}</td>
									<td>{{ facture.prixHt }}
										€</td>
									<td>{{ (facture.prixHt/100*20) }}
										€</td>
									<td>{{ (facture.prixHt/100*20)+facture.prixHt }}
										€</td>
									<td>
										<a href="{{ path('facture.edit', { id: facture.id} ) }}" class="btn btn-info btn-sm">Modifier</a>
									</td>
									<td>
										<a href="{{ path('facture.delete', { id: facture.id} ) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?')" class="btn btn-danger btn-sm">SUPPRIMER</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<section class="flex-column col-3 text-center">
					<div class="bg-success">
						<h3>Nous Contacter</h3>
						<p>0101010101</p>
						<p>{{ app.user.email }}</p>
					</div>
					<div style="width:325px; height:200px; background:#198754;"></div>
				</section>
			</main>

		</div>
	{% endblock %}
